



.popup-1-actived .sections {
    transition: filter 1s;
    filter: blur(5px);
}

.sections>.section {
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.popup-1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
}

.popup-1-actived .popup-1 {
    opacity: 1;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --popup-1__main__width: 730px;
}

.popup-1>.main {
    position: relative;
    top: -100%;
    width: var(--popup-1__main__width);
    height: 300px;
    transition: top 1s;
}

.popup-1-actived .popup-1>.main {
    top: 0;
}

.popup-1>.main>.content {
    width: 1%;
    height: 89%;
    transition: width 1s 1s;
    background-position: top left;
    background-image: url(https://cdn.jsdelivr.net/gh/taenui/php-ssg-blog/pf/img/home/bn_ticket.jpg);
    overflow: hidden;
    background-size: 730px 260px;
    cursor: pointer;
}

.popup-1-actived .popup-1>.main>.content {
    width: 100%;
}

.popup-1-actived .popup-1>.main>.content>.body {
    width: var(--popup-1__main__width);
    position: relative;
}

.popup-1-actived .popup-1>.main>.content>.body>.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-1-actived .popup-1>.main>.content>.body>.btn-close {
    line-height: 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.popup-1-actived .popup-1>.main>.content>.body>.btn-close::after {
    content: "x";
}



img { 
    width:100%;
    margin:0 auto;
    display: block;
}

.menu-bar__row>li>a {
    color: white;
}