body, ul , li { 
  list-style:nonoe;
  padding:0;
  margin:0;
}



a{
  color:inherit;
  text-decoration:nonoe;
}



/*노말라이즈 끝*/

:root {
  --site-width:1500px;
}

.con {
  width:var(--site-width);
  margin:0 auto;
}

img { 
  width:100%;
}




/* part2-text */

.part2 {
  position:relative;
}


.part2-text { 
  position:absolute;
  top:12%;
  right:0;
  display:block;

}

.text-box { 
  margin-left:32%;

}

.part2-text > .text-box img { 
  width:90%
}

.part2-text > .text-box img:first-child {
  padding-bottom:10%;
  display:inline-block;

}


/*part3*/
.part3 { 
  position:relative;
}

.part3-point { 
  position:absolute;
  top:25%;
  right:10%;
  width:6%;
}

/*part4*/

.part4 { 
  position:relative;
}


.part4 > .stone{ 
  position:absolute;
  top:38%;
  width:100%;
}

.stone-box { 
  margin:0 auto;

}


.stone img { 
  width:70%;
  margin-left:15%;
}



.stone-box img {
  -webkit-animation: moving 2s ease infinite;
          animation: moving 2s ease infinite;
}


@keyframes moving {
	0% { transform:  translate(-0%) }
	50% { transform: translate(0, -10%) }
}



/*part6*/

.part6 {
  position:relative;
}



.part6 > .part6-text { 
  position:absolute;
  bottom:0;
  right:0;
}

.part6-text { 
  height:100%;
  width:33%;
  position:relative;

}

.part6-text__box { 
  bottom:0;
  width:95%;
  height:40%;
  position:absolute;
  margin-left:5px;

}


.part7 {
  position:relative;
}

.part7 > .part7-pic { 
  position:absolute;
  top:10%;
  right:15%;

  width:35%;
  height:100%;
}

.part7-pic__box { 
position:relative;
}


.part7-pic__box > img { 
position:absolute;
}





.part3-point {
  animation: jump 1s ease 0s 100 normal;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}



/*part8*/


.part8 { 
position:relative;

}

.part8-text {
  position:absolute;
top:100px;
right:100px;

}